@import "./variables";
@import "./mixins";
@import "./keyframes";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: $font-family-base;
}

.logo {
  @include content-left;
  height: 1.1rem;
  width: auto;
}

.no-overflow {
  @include no-horizontal-overflow;
}

.navRow {
  @include total-width;
}

.navbarMenu {
  @include content-right;
  width: 100%;

  a {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
      color: $primary-color;
    }
  }
}

.title-mug {
  position: absolute;
  top: 4rem;
  height: 42rem;
  width: auto;
  z-index: 2;
  align-self: flex-end;

  @media (max-width: 767.98px) {
    height: 27rem;
    top: 6.5rem;
    justify-content: end;
    display: flex;
    overflow-x: visible;
    right: -15%;
  }

  @media (max-width: 575.98px) {
    height: 19rem;
    top: 6.5rem;
    justify-content: end;
    display: flex;
    overflow-x: visible;
    right: -22%;
  }
}

.title-words {
  @include bold-font;
  @include font-color;
  font-size: 15rem;

  @media (max-width: 767.98px) {
    font-size: 13rem;
    top: 3rem;
    overflow-x: visible;
  }
  @media (max-width: 575.98px) {
    font-size: 9rem;
    top: 3rem;
    overflow-x: visible;
  }
}

.first-line-title {
  @include border-bottom;
  z-index: 1;
  text-align: left;
  padding-left: 5vw;

  @media (max-width: 991.98px) {
    transform: translateX(20%);
  }
}

.second-line-title {
  z-index: 3;
  text-align: right;
  padding-right: 10vw;

  @media (max-width: 991.98px) {
    transform: translateX(-20%);
    position: relative;
    left: -35%;
    overflow-x: visible;
  }
}

.third-line-title {
  text-align: left;
  z-index: 1;
  border-top: 0.1vh solid $secondary-color;
  padding-left: 6vw;
  @media (max-width: 991.98px) {
    transform: translateX(20%);
  }
}

.title-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 95vw;
  @include no-horizontal-overflow;
}

.navbar-toggler {
  border: none;
  .navbar-toggler-icon {
    background-image: none;
  }
}

.navbar-collapse {
  justify-content: end;
  display: flex;
}

.navbar-container {
  background-color: $white-color;
}

.contact-aside {
  position: fixed;
  right: 0;
  bottom: 5vh;
  z-index: 5;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    transform: rotate(90deg);
  }

  &:hover {
    animation: shake 0.5s ease;
  }
}

.contact-line {
  background-color: $primary-color;
  height: 0.1vh;
  width: 2vw;
  content: "";
  margin-bottom: 2vw;
}

.section-about-container {
  @include no-horizontal-overflow;
  margin-top: 10vh;
  width: 95vw;

  @media (max-width: 575.98px) {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
  }
}

.about-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: inline-block;
  background-color: $primary-color;
}

.about-paragraph {
  font-size: 1.7rem;

  @media (max-width: 575.98px) {
    margin-top: 10vh;
  }
}

.section-items-container {
  @media (max-width: 575.98px) {
    padding-right: 0;
  }
}

.tshirt-article {
  margin-top: 15rem;
  @media (max-width: 575.98px) {
    margin-top: 9rem;
    margin-bottom: 15vh;
  }
}

.tshirt-information {
  @include items-information;
}

.tshirt-title {
  @include bold-font;
  @include items-title-size;
}

.tshirt-description {
  @include items-description-size;
}

.tshirt-options {
  @include border-bottom;
  @include items-options;
}

.secondary-color-rectangle {
  width: 4vw;
  height: 1.5vh;
  margin-right: 1vw;
  background-color: $secondary-color;
}

.primary-color-rectangle {
  width: 4vw;
  height: 1.5vh;
  background-color: $primary-color;
}

.buy-button-col {
  @include buy-button-col;
}

.buy-button {
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
  display: flex;
  align-items: center;
  background: none;
  border: none;

  p {
    @include btn-transitions;
    appearance: none;
    --webkit-appearance: none;
    --moz-appearance: none;
    margin-right: 1rem;
    font-size: 0.9rem;
  }

  svg {
    @include btn-transitions;
    height: 0.9em;
    width: auto;
    margin-top: -1rem;
  }

  &:hover {
    @include btn-transitions-hover;
  }
}

.tshirt-container {
  @include items-container;
}

.tshirt-image {
  img {
    @include images-size;
    transform: scaleX(-1);
    transform: matrix(-0.99, -0.15, -0.15, 0.99, 0, 0);
    padding-right: -2rem;

    @media (max-width: 575.98px) {
      transform: matrix(-0.99, -0.18, -0.18, 0.99, 0, 0);
    }
  }
}

.black-stroke {
  stroke: $secondary-color;
}

.bottle-article {
  @media (min-width: 575.98px) {
    display: flex;
    justify-content: end;
  }
}

.bottle-container {
  @include items-container;
}

.bottle-image {
  img {
    @include images-size;
    margin-left: 13vw;

    @media (max-width: 575.98px) {
      margin-left: 31vw;
    }
  }
}

.bottle-information {
  @include items-information;
}

.bottle-title {
  @include bold-font;
  @include items-title-size;
}

.bottle-description {
  @include items-description-size;
}

.bottle-options {
  @include border-bottom;
  @include items-options;
  @media (max-width: 575.98px) {
    width: 21rem;

    .col {
      margin-top: 5vh;
      margin-right: 69vw;
    }
  }
}

.footer-container {
  background-color: $secondary-color;
  z-index: 10;
  margin-top: 11vh;
}

.footer-content {
  display: flex;
  justify-content: left;
}

.contact-information {
  @include font-white;
  font-size: 1.3rem;
  padding-left: 3vw;

  @media (max-width: 767.98px) {
    font-size: 0.9rem;
  }

  a {
    @include color-inherit;
    text-decoration: none;
  }
}

.footer-slogan {
  @include bold-font;
  @include font-white;
  line-height: 1.3rem;
  font-size: 1.5rem;
  margin-bottom: 7vh;

  @media (max-width: 767.98px) {
    margin-bottom: 5vh;
  }
}

.footer-form {
  @include font-white;
  border-bottom: 0.1vh solid $white-color;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  &::placeholder {
    @include font-white;
    opacity: 0.5;
  }

  &:focus {
    @include font-white;
    border-bottom-color: $primary-color;
    background: none;
    box-shadow: none;
  }
}

.privacy-row {
  @media (max-width: 575.98px) {
    margin-left: -5.5vw;
  }
}

.form-check-privacy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #cccccc;
  transition: background-color 0.2s, border-color 0.2s;

  @media (min-width: 992px) {
    width: 15px;
    height: 15px;
  }

  &:checked {
    background-color: $primary-color;
  }
}

.form-check-label {
  @include font-white;
  font-size: 0.67rem;
  margin-left: 0.3rem;

  @media (min-width: 992px) {
    font-size: 1rem;
    margin-left: 1rem;
  }

  a:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

.privacy-link {
  @include color-inherit;
}

.footer-submit-col {
  @media (max-width: 575.98px) {
    margin-left: -10vw;
  }
}

.footer-submit-btn {
  @include font-white;
  @include btn-transitions;
  background: none;
  border: none;
  font-size: 0.7rem;

  @media (max-width: 767.98px) {
    margin-left: 11vw;
  }

  @media (min-width: 992px) {
    margin-left: 12rem;
    font-size: 1rem;
  }

  svg {
    @include btn-transitions;
    height: 0.6rem;
    width: auto;
    margin-left: 1vw;

    @media (min-width: 992px) {
      height: 1rem;
      width: auto;
      margin-top: 0.5vh;
    }
  }
}

.white-stroke {
  stroke: $white-color;
  transition: transform 0.3s;
}

.footer-submit-btn:hover {
  @include btn-transitions-hover;
}

