@import './variables';
@import './mixins';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
  font-family: $font-family-base
}

.logo{
    @include content-left;
    margin-top: 4vh;
}

.navRow{
    @include total-width;
}
.navbarMenu{
    @include content-right;
    width: 100%;
  }
  
.title-mug{
  height: 60vh;
  width: auto;
  z-index: 2;
  align-self: flex-end;
  margin-top: -75vh;
}

.title-words{
  @include bold-font;
  @include font-color;
  font-size: 15em;
}

.first-line-title{
  z-index: 1;
  text-align: left;
  border-bottom: 0.1vh solid $secondary-color;
  padding-left: 7vw;
}

.second-line-title{
  z-index: 3;
  text-align: right;
  padding-right: 10vw;
}

.third-line-title{
  text-align: left;
  z-index: 1;
  border-top: 0.1vh solid $secondary-color;
  padding-left: 7vw;
}

.title_container{
  display: flex;
  flex-direction: column;
}

.contact-aside{
  // align-self: end;
  writing-mode: vertical-lr;
}